// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: rgb(122, 122, 122);
$body-color: rgb(0, 0, 0);
$primary: rgb(0, 37, 245);
$font-family-base: Arial;
$secondary: rgb(255, 97, 97);

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}
